<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @image.imageUrl %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @image.rating %>
</p>

<p>
  <strong>Views:</strong>
  <%= @image.views %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
